# WARNING: Paths must not include the name of the "lessons" directory.
# Outside, this directory is called "exercises".

/*/*/*.lock
**/vendor/
/*/*/package-lock.json
**/node_modules/
**/tmp/
!**/.keep
**/*.log

.DS_Store
